* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

}

ul{
  display: flex;
  gap: 40px;
  align-items: center;

  list-style: none;
}

a{
  text-decoration: none;
}